<div class="float-{{ align }}">
    <div class="d-none d-md-block">
        <div class="btn-group">
            {% for action in actions %}
                {% if (is_granted(action.permission, object)) %}
                <a
                    href="{{ path(action.route, action.route_params|default({})|merge({ (action.id_field|default('id')): value })) }}"
                    class="btn btn-flat {{ action.class|default('btn-primary') }} btn-xs tooltips"
                    data-placement="top"
                    data-container="body"
                    data-original-title="{{ action.title|default('Action')|trans }}"
                >
                    <i class="fa {{ action.icon|default('fa-edit') }}"></i>
                    {{ action.text|default('')|trans }}
                </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="d-block d-md-none">
        <div class="dropdown">
            <a class="btn btn-primary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="far fa-toolbox"></i>
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                {% for action in actions %}
                    {% if (is_granted(action.permission, object)) %}
                    <a href="{{ path(action.route, action.route_params|default({})|merge({ (action.id_field|default('id')): value })) }}" class="dropdown-item tooltips" data-placement="top" data-container="body" data-original-title="{{ action.title|default('Action')|trans }}"><i class="fa {{ action.icon|default('fa-edit') }}"></i> {{ action.title|trans }}</a>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
