<div class="float-{{ align }}">
    <div class="d-none d-sm-block">
        <div class="btn-group">
            {% for action in actions %}
                {% if (is_granted(action.permission, object)) %}
                <a href="{{ path(action.route, action.route_params|default({})|merge({ id: value })) }}" class="btn btn-flat {{ action.class|default('btn-primary') }} btn-xs tooltips" data-placement="top" data-container="body" data-original-title="{{ action.title|default('Action')|trans }}"><i class="fa {{ action.icon|default('fa-edit') }}"></i></a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="d-block d-sm-none">
        <div class="btn-group">
            <a class="btn btn-info dropdown-toggle dropdown-icon" data-toggle="dropdown" href="#">
                {{ "generic.actions"|trans }}
            </a>
            <div class="dropdown-menu">
                {% for action in actions %}
                    {% if (is_granted(action.permission, object)) %}
                    <a href="{{ path(action.route, action.route_params|default({})|merge({ id: value })) }}" class="dropdown-item tooltips" data-placement="top" data-container="body" data-original-title="{{ action.title|default('Action')|trans }}"><i class="fa {{ action.icon|default('fa-edit') }}"></i> {{ action.title|trans }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>